/************************Footer**********/
.footer-cta-banner {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}
.footer-cta-banner .cta-1 {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    z-index: 2;
}
.footer-cta-banner .cta-heading:not(:last-child) {
    margin-bottom: 20px;
}
.footer-cta-banner .cta-descr:not(:last-child) {
    margin-bottom: 18px;
}
.footer-cta-banner .cta-h-1 {
    font-weight: 600;
    line-height: 1;
    font-family: 'Gilroy';
}
.footer-cta-banner .cta-d-1 {
    line-height: 1.4;
    font-weight: 300;
}

/***********************fotter-nav**************************/
#footer-widget-area .fwb-menu:not(:first-child) {
    margin-top: 30px;
}
.footer-widget-box .widget-nav-list, .footer-widget-box .widget-post-list, .footer-widget-box .widget-contact-list, .footer-widget-box .widget-social-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer-widget-box .widget-nav-list {
    margin-bottom: -5px;
}
.footer-widget-box .widget-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.navbar .nav {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
ol, ul {
    box-sizing: border-box;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
ul.list-inline {
    padding: 0;
    margin: 0;
    list-style: none;
}
.dropdown, .dropup {
    position: relative;
}
.nav>li {
    position: relative;
    display: block;
}
.footer-widget-box .widget-nav-list li {
    margin-bottom: 5px;
}
.footer-widget-box .widget-nav-list li:not(:last-child) {
    margin-right: 35px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.footer-widget-box .widget-nav-list a, .footer-widget-box .widget-nav-list a:hover, .footer-widget-box .widget-nav-list a:focus, .footer-widget-box .widget-nav-list .open>a, .footer-widget-box .widget-nav-list .open>a:focus, .footer-widget-box .widget-nav-list .open>a:hover {
    background-color: transparent;
}
.footer-widget-box .widget-nav-list li a {
    padding: 0;
    font-size: 22px;
    font-size: 19px;
    font-weight: 500;
}
.footer-widget-box .widget-nav-list li.active a {
    color: #4d4f50;
}

/***********************fotter-widget**************************/
#footer-widget-area {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
}
#footer-widget-area .fwb-contact-info {
    display: flex;
    justify-content: center;
}
#footer-widget-area .fwb-contact-info:not(:first-child) {
    margin-top: 25px;
}
#footer-widget-area .fwb-contact-info .fwb-ci-1 {
    width: 100%;
}
#footer-widget-area .fwb-ci-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Gilroy';
    font-weight: 800;
    padding: 0 20px;
    background-color: #fff;
    display: table;
    margin: 0 auto -20px;
    z-index: 1;
    position: relative;
}
#footer-widget-area .contact-info-bar {
    border: 1px solid;
    border-radius: 65px;
    padding: 33px 30px 28px;
}
#footer-widget-area .contact-info-bar {
    border-color: #f75353;
}
.contact-group {
    position: relative;
}
.contact-group:not(:last-child) {
    margin-bottom: 20px;
}
.contact-info-bar .cib-1, .contact-info-bar .contact-group {
    display: flex;
    align-items: center;
}
#footer-widget-area .contact-info-bar .cib-1 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    justify-content: center;
}
#footer-widget-area .fwb-ci-title~.contact-info-bar .cib-1 {
    padding-top: 36px;
}
.contact-group .cg-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
}
.contact-info-bar .cg-heading, .contact-info-bar .contact-group {
    margin-bottom: 0;
}
.contact-info-bar .contact-group:not(:last-child) {
    margin-right: 49px;
}
#footer-widget-area .contact-info-bar .cib-has-whatsapp .cg-heading {
    font-size: 20px;
}
#footer-widget-area .contact-info-bar .cg-heading {
    font-size: 18px;
}
.footer-widget-box .widget-para-link, .pagination-wrapper a.page-numbers, .pagination-wrapper .current, .contact-group .cg-heading {
    color: #231f20;
}
#footer-widget-area .contact-info-bar .cib-has-whatsapp .cg-h-icon {
    margin-right: 18px;
}
#footer-widget-area .contact-info-bar .cg-h-icon {
    width: 50px;
    height: 50px;
    border-width: 2px;
    margin-right: 19px;
}
.footer-widget-box a {
    word-wrap: break-word;
}
.contact-group .cg-t-l-phone {
    white-space: nowrap;
}
.contact-group .cg-text a {
    color: #444;
}
.contact-group.cg-two-nums .cg-t-link {
    display: block;
}
.contact-info-bar.style-3 .cg-h-icon, .pg-temp-contact .contact-info-bar .cg-s-icon {
    color: #f75353;
}
.cg-heading .cg-h-icon {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    text-align: center;
}
.contact-info-bar .cg-h-icon, .contact-info-bar.style-1 .cg-socials a, .pg-temp-contact .contact-info-bar .cg-s-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
}
.contact-info-bar .cg-h-text {
    display: none;
}
#footer-widget-area .cib-has-whatsapp .contact-group .cg-text, #footer-widget-area .cib-has-whatsapp .contact-group .cg-text a {
    font-size: 19px;
}
.contact-group .cg-text {
    margin-bottom: 0;
    line-height: 1.3;
}
#footer-widget-area .contact-group .cg-text, #footer-widget-area .contact-group .cg-text a {
    font-size: 23px;
    font-weight: 300;
}

/************************Footer Bottom**********/
#footer-bottom {
    color: #414141;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 15px;
    background-color: rgba(165, 15, 15, .4);
}
#footer-bottom .fb-1, #footer-bottom .fb-site-creater, #footer-bottom .fb-sc-link {
    display: flex;
    align-items: center;
}
#footer-bottom .fb-1 {
    justify-content: center;
    line-height: 1;
}
#footer-bottom .copyright-note {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
#footer-bottom .fb-site-creater {
    white-space: nowrap;
}
#footer-bottom .fb-sc-text {
    margin-right: 10px;
    position: relative;
}
#footer-bottom .fb-sc-link {
    font-weight: 600;
    color: #414141;
}
#footer-bottom .fb-sc-l-img {
    max-width: 21px;
    width: 21px;
    margin-right: 5px;
}
#footer-bottom .fb-sc-l-name {
    position: relative;
    top: 1px;
}

/********footer responsive******/
